# Dependencies
node_modules/
.pnp
.pnp.js

# Build Outputs
dist/
build/
.next/
out/
.docusaurus/
node_modules/
# Debug and Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-debug.log*
*.log

# Databases & Local States
*.db
*.db-journal
*.sqlite
*.sqlite3
migration.sql
schema.json
schema.new.json

# IDEs & System files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Scripts Folder Contents
scripts/*
!scripts/check-comments.js
node_modules/.bin/mkdirp.cmd
